<% provide(:title, 'All users') %>
<h1>ユーザー一覧</h1>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul class="users">
    <li>
      <%= render(@users) %>
    </li>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>