<h2>
  以下の内容でお問い合わせがありました。
</h2>

=======================
<h3>お名前</h3>
<p>
  <%= @contact.name %>
</p>

<h3>メールアドレス</h3>
<p>
  <%= @contact.email %>
</p>

<h3>お問い合わせ内容</h3>
<p>
  <%= @contact.content %>
</p>
=======================
